@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Panel de Administración";
}

<div class="container-fluid">
    <h1 class="mb-4">Panel de Administración</h1>

    
</div>
