html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.vh-100 {
    height: 100vh !important;
}

.container, .row, .card, .login-img-col {
    height: 100%;
}

.login-img-col {
    /* Para que la columna ocupe toda la altura */
    height: 100%;
}

.login-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    display: block;
}
