@{
    ViewBag.Title = "Sobre Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Alimentación Inteligente, Raíces Saludables</span>
                            <span class="section-heading-lower">Sobre Nosotros</span>
                        </h2>
                        <p>Fundado como un emprendimiento costarricense con pasión por la salud y el bienestar, nuestro sistema nace con el objetivo de transformar la forma en que las personas se alimentan. Combinamos la experiencia de nutricionistas, la creatividad culinaria y la tecnología para ofrecer soluciones prácticas y personalizadas.</p>
                        <p class="mb-0">
                            Te garantizamos que vas a conectar con nuestros planes y recetarios desde el primer clic. Ya sea que busques mejorar tu alimentación, seguir un plan médico o simplemente comer mejor, estamos aquí para acompañarte en cada paso hacia una vida más saludable.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>